@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

h6 {
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #754656;
}

.btn-primary {
    font-size: 17px;
    background-color: #ffffff;
    color: #754656;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
}

body{
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.btn-xl{
    padding: 50px 80px;
    font-size: 20px;

}
a .link-custom{
    color: #af468ac7;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f89bd1;
    border-top-color: #f8d2f9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }